body {background-color: grey;}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: rgb(119, 118, 118);
    color:greenyellow}
h1{color: greenyellow;}
h2{color: violet;}